<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= pageTitle %></title>
</head>
<body style="font-family:system-ui,sans-serif; padding:25px; max-width:865px; margin:0 auto;">
  <h1><%= pageTitle %></h1>
  <p>message</p>
  <p><a href="/">Home</a></p>
</body>
</html>